---
import ContactForm from './ContactForm';
import '../styles/components/contact.css';
---

<section id="contact">
  <h2>Contact</h2>
  <div class="contact-container">
    <div class="contact-info">
      <h3>Restons en contact</h3>
      <p>N'hésitez pas à me contacter pour toute opportunité ou question.</p>
      <div class="contact-details">
        <a href="mailto:nebulacode@hotmail.com" class="contact-link">
          <i class="fas fa-envelope"></i>
          nebulacode@hotmail.com
        </a>
        <a href="tel:+33651841607" class="contact-link">
          <i class="fas fa-phone"></i>
          +33 6 51 84 16 07
        </a>
      </div>
    </div>
    <div class="form-container">
      <ContactForm client:load />
    </div>
  </div>
</section>
