---
import '../styles/components/education.css';

const education = [
  {
    degree: 'Master Ingénierie du Web',
    school: 'ESGI Paris',
    year: '2023'
  },
  {
    degree: "Licence professionnelle spécialité développement web et mobile ",
    school: "Université d'Orléans",
    year: '2021'
  }
];
---

<section id="education">
  <h2>Formation</h2>
  <div class="education-container">
    {education.map(edu => (
      <div class="education-card">
        <h3>{edu.degree}</h3>
        <p>{edu.school}</p>
        <p class="date">{edu.year}</p>
      </div>
    ))}
  </div>
</section>
