---
import '../styles/components/experience.css';

const timeline = [
  {
    type: 'experience',
    title: 'Développeur Full-stack',
    company: 'Canon Liffré',
    period: '3 ans',
    description: 'Développement d\'applications web et mobiles avec Symfony et React. Optimisation du référencement (SEO) pour améliorer la visibilité des plateformes.'
  },
  {
    type: 'experience',
    title: 'Développeur web',
    company: 'Renault Le Mans',
    period: '6 mois',
    description: 'Développement d\'applications web, pour la gestion des tâches de maintenance et pour la gestion des contrôles d\'accès.'
  }
];
---

<section id="experiences">
  <h2>Parcours</h2>
  <div class="timeline">
    {timeline.map(item => (
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class={`timeline-content ${item.type}`}>
          <h3>{item.title}</h3>
          <h4>{item.company }</h4>
          <p class="date">{item.period}</p>
          {item.description && <p>{item.description}</p>}
        </div>
      </div>
    ))}
  </div>
</section>
