---
import '../styles/components/header.css';
---

<header>
  <div class="content">
    <h1 class="neon-text">NebulaCode</h1>
    <p class="subtitle">Développement Web Innovant au Cœur de l'Univers Digital</p>
  </div>
</header>
