---
import '../styles/components/skills.css';

const skills = [
  { name: 'Symfony', icon: 'fa-symfony' },
  { name: 'NestJS', icon: 'fa-node-js' },
  { name: 'React', icon: 'fa-react' },
  { name: 'Docker', icon: 'fa-docker' },
  { name: 'Git CI/CD', icon: 'fa-git-alt' },
  {name: 'PostgreSQL', icon: 'fas fa-database'},
];
---

<section id="skills">
  <h2>Compétences</h2>
  <div class="skills-container">
    {skills.map(skill => (
      <div class="skill-card">
        <div class="skill-icon">
          <i class={`fab ${skill.icon}`}></i>
        </div>
        <span>{skill.name}</span>
      </div>
    ))}
  </div>
</section>
